@using HeavensHall.Commerce.Domain.Enums;
@using HeavensHall.Commerce.Application.Extensions.EnumExtensions;
@model HeavensHall.Commerce.Web.Models.ProductModel;

@{
    string status = Model.Is_Active ? Status.Ativar.ToString() : Status.Desativar.ToString();
    string CATEGORY_PERCUSSION = InstrumentCategory.PERCUSSION.GetDescription();
    string CATEGORY_STRING = InstrumentCategory.STRING.GetDescription();
    string CATEGORY_WIND = InstrumentCategory.WIND.GetDescription();
}

<div class="container pt-3">

    <h5 class="text-center">Alterar Produto</h5>

    <form method="POST" asp-controller="produtos" asp-action="alterar">

        <div class="form-group row">
            <label for="productName" class="col-sm-2 col-form-label" asp-for="@Model.Id"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" asp-for="@Model.Id" readonly required>
            </div>
        </div>
        <div class="form-group row">
            <label for="productName" class="col-sm-2 col-form-label" asp-for="@Model.Name"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="productName" name="name" asp-for="@Model.Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label" asp-for="@Model.Description"></label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description" asp-for="@Model.Description" required></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label" asp-for="@Model.Brand.Name"></label>

            <div class="col-sm-10">
                <input class="form-control" id="brand" name="brand.name" asp-for="@Model.Brand.Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label" asp-for="@Model.Category.Name"></label>
            <div class="col-sm-10">
                <select class="form-select" id="category" name="category.name" required>
                    <option selected value="@Model.Category.Name">@Model.Category.Name</option>
                    @if (@Model.Category.Name != InstrumentCategory.STRING.GetDescription())
                    {
                        <option value="Corda">Corda</option>
                    }
                    @if (@Model.Category.Name != InstrumentCategory.PERCUSSION.GetDescription())
                    {
                        <option value="Percursão">Percursão</option>
                    }
                    @if (@Model.Category.Name != InstrumentCategory.WIND.GetDescription())
                    {
                        <option value="Sopro">Sopro</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="rating" class="col-sm-2 col-form-label" asp-for="@Model.Rating" required></label>
            <div class="col-sm-10">
                <select class="form-select" id="rating" name="rating" required>
                    <option selected value="@Model.Rating">@Model.Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="rating" class="col-sm-2 col-form-label" asp-for="@Model.Is_Active"></label>
            <div class="col-sm-10">
                <select class="form-select" id="status" name="is_active" required>
                    <option selected value="@Model.Is_Active">@status</option>
                    @if (Model.Is_Active)
                    {
                        <option value="false">@Status.Desativar</option>
                    }
                    else
                    {
                        <option value="true">@Status.Ativar</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="quantity" class="col-sm-2 col-form-label" asp-for="@Model.Stock.Quantity"></label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="quantity" name="stock.quantity" asp-for="@Model.Stock.Quantity" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label" asp-for="@Model.Price"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" name="stock.price" asp-for="@Model.Price" required>
            </div>
        </div>

        <input type="hidden" value="@Model.Brand.Id" name="brand.id" />
        <input type="hidden" value="@Model.Stock.Id" name="stock.id" />
        <input type="hidden" value="@Model.Category.Id" name="category.id" />

        <!-- File Management-->
        <div class="form-group row justify-content-center p-2">
            <input class="attacher mb-3" type="file" id="attacher" style="display: none"
                   onchange="attachFiles(this, 'images', productUniqueImage)">
            <label for="attacher" class="mb-3 btn-outline-dark rounded-pill shadow-sm w-75 p-2 font-weight-bolder text-center"
                   style="font-size: larger; cursor:pointer">
                Alterar Imagem
            </label>
        </div>

        <!-- File List -->
        <div class="text-center">
            <ul class="list-group mb-3" id="list_files"></ul>

            <input type="hidden" value="" name="image_path" id="filePath" />
            <input type="hidden" value="" name="image_base64" id="fileResult" />
        </div>

        <div class="text-center">
            <button type="button" onclick="window.location.href='/produtos/gerenciar'" class="btn btn-outline-dark">Cancelar</button>
            <button type="submit" class="btn btn-primary">Atualizar Produto</button>
        </div>
    </form>
</div>

<!-- Template List File -->
<template id="product_unique_template">
    <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
        <a href="file.base64" download="file.name">file.name</a>
        <button type="button" onclick="deleteAndCleanFiles(this.parentNode)" class="btn-close-attach">
            X_UNICODE
        </button>
    </li>
</template>

<style>
    #footer {
        bottom: 0;
        position: fixed;
    }
</style>

<script src="/js/file_attach_engine.js"></script>
<script src="/js/manage_attached_files.js"></script>