@model HeavensHall.Commerce.Web.Models.CustomerModel;

<link rel="stylesheet" href="~/css/sidebar/sidebar_customer.css" />

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Meus dados</div>
        <div class="list-group list-group-flush">
            <a href="/cliente" class="list-group-item list-group-item-action bg-light">Conta</a>
            <a href="/cliente/enderecos" class="list-group-item list-group-item-action bg-light">Endereços</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Pedidos</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Carrinho</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="btn btn-outline-secondary" id="menu-toggle">Alternar menu</button>
            <button class="btn btn-info ml-3" onclick="redirectToAddressRegister('@Model.Id')">Adicionar novo endereço</button>
        </nav>

        <div class="container-fluid">
            <!-- Tab content -->
            @if (Model.Addresses.Count == 0)
            {
                <div class="text-center p-3">
                    <h5>Nenhum endereço cadastrado.</h5>
                </div>
            }
            else
            {
                <div class="tab-content" id="v-tabs-tabContent">
                    <div class="tab-pane fade show active"
                         id="v-tabs-home"
                         role="tabpanel"
                         aria-labelledby="v-tabs-home-tab">

                        <div class="list-group">
                            @foreach (var address in Model.Addresses)
                            {
                                <div class="list-group-item list-group-item-action flex-column align-items-start" id="@address.Id">
                                    <a href="/cliente/atualizar-endereco?id=@address.Id" class="">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1">@address.Address_1</h6>
                                        </div>
                                        <p class="mb-1">@address.Address_2</p>
                                    </a>
                                    <div class="float-right"><a onclick="deleteAddress('@address.Id')" class="text-danger">Excluir</a></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Tab content -->
            }
        </div>
    </div>

</div>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    const redirectToAddressRegister = id => window.location.href = `/cliente/cadastrar-endereco?id=${id}`;

    const deleteAddress = id => {
        fetch(`/cliente/excluir-endereco?id=${id}`,
            {
                method: 'POST'
            })
            .then(response => {
                document.getElementById(id).remove();
                showBox('success', 'Endereço excluído.');
            })
            .catch(err => {
                console.log('Erro ao excluir endereço: ' + err.message);
            });
    }
</script>


