@model IEnumerable<HeavensHall.Commerce.Web.Models.UserModel>;
@using HeavensHall.Commerce.Domain.Enums;

@functions {
    private string GetStatus(bool statusActive) => statusActive ? Status.Desativar.ToString() : Status.Ativar.ToString();
}

<div class="container page-container">
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">
        @await Html.PartialAsync("Employee/_SidebarMenu")

        <table class="table table-hover table-bordered wow fadeInDown">
            <thead class="table-info">
                <tr>
                    <th scope="col">Nome do Usuário</th>
                    <th scope="col">E-mail</th>
                    @if (User.IsInRole(UserRole.Admin.ToString()))
                    {
                        <th scope="col">Atualizar conta</th>
                        <th scope="col">Ativar ou desativar usuário</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        @if (User.IsInRole(UserRole.Admin.ToString()))
                        {
                            <td onclick="editUser('@user.Id')" class="text-decoration-underline" style="cursor: pointer;">Editar</td>
                            <td onclick="changeUserStatus('@user.Id', '@user.IsActive')" id="@user.Id" style="cursor: pointer;">@GetStatus(@user.IsActive)</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <!--Pagination-->
        <div class="d-flex justify-content-center wow fadeIn">
            <ul class="pagination">

                <!--Arrow left -->
                <li class="page-item" id="previous-page">
                    <a class="page-link" onclick="increaseOrDecreasePageBy(-1)">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" id="page-selectable-1">
                    <a class="page-link" href="usuarios/pagina?num=1">
                        1
                    </a>
                </li>
                <li class="page-item" id="page-selectable-2">
                    <a class="page-link" href="usuarios/pagina?num=2">
                        2
                    </a>
                </li>
                <li class="page-item" id="page-selectable-3">
                    <a class="page-link" href="usuarios/pagina?num=3">
                        3
                    </a>
                </li>
                <li class="page-item" id="page-selectable-4">
                    <a class="page-link" href="usuarios/pagina?num=4">
                        4
                    </a>
                </li>
                <li class="page-item" id="page-selectable-5">
                    <a class="page-link" href="usuarios/pagina?num=5">
                        5
                    </a>
                </li>

                <!-- Arrow Right -->
                <li class="page-item" id="next-page">
                    <a class="page-link" onclick="increaseOrDecreasePageBy(1)">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--  To Do - Authorization Headers / CORS Relation or FORM Post / ID on script verify -->
<script>
    const editUser = id => window.location.href = `/conta/alterar?id=${id}`;

     const changeUserStatus = (id, currentStatus) => {
        var statusElement = document.getElementById(id);

        let newStatusIsActive = currentStatus === 'False' || currentStatus === false;

         const REQUEST_URL = `/conta/desativar?id=${id}&status=${newStatusIsActive}`;

        fetch(REQUEST_URL,
            {
                method: 'POST'
            })
            .then(function (response) {
                if (response.ok) {
                    statusElement.innerText = newStatusIsActive ? '@Status.Desativar.ToString()' : '@Status.Ativar.ToString()';

                    // Event Listener Reset/Attach.
                    statusElement.removeAttribute('onclick');
                    statusElement.addEventListener('click', function handler(e) {
                        e.currentTarget.removeEventListener(e.type, handler);
                        changeUserStatus(id, newStatusIsActive);
                    });

                    showBox('success', 'Status alterado.');
                }
            })
            .catch(function (error) {
                showBox('warning', 'Não foi possível atualizar este status.');
            });
    }
</script>
